[BUILD]
CC = gcc
CXX = g++
LINKERFORPROGRAMS = g++
CCFLAGS = -std=c99
CXXFLAGS = -std=c++11
LINKFLAGS = 
DEBUG = False
LIBDIRFLAGS = -L$SCIPION_HOME/software/lib
INCDIRFLAGS =-I$SCIPION_HOME/software/include
PYTHONINCFLAGS = -I/home/yunior/anaconda3/envs/scipion/include/python3.5m -I/home/yunior/anaconda3/envs/scipion/lib/python3.5/site-packages -I/home/yunior/anaconda3/envs/scipion/lib/python3.5/site-packages/numpy/core/include
