# Workflow name
name: Build XmippCore

# Specify when the Action should be triggered: when a pull request is opened against the 'devel' or 'master' branch
on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfftw3-dev libopenmpi-dev openmpi-bin libhdf5-dev python3-numpy python3-dev libtiff5-dev unzip

      - name: Export CI variables
        run: echo "BUILD_DIR=CIBuild" >> $GITHUB_ENV

      # Using CCache to speed C/C++ compilation
      - uses: hendrikmuhs/ccache-action@main
          
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      # If we got here, Xmipp can be build with this xmippCore
      # Build only the core to be able to run the static code analysis
      - name: Compile XmippCore
        run: |
          cmake -S . -B build/ -DXMIPP_VERSIONS_FILE=build/versions.txt
          cmake --build build/ -j 4

