name: Release new version
on:
  workflow_dispatch:

jobs:
  generate-new-release:
    environment:
      name: release-approval
      
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout repository
      uses: actions/checkout@main

    - name: Retrieve tag name, release name & changelog
      run: |
        echo "TAG_NAME=$(python ./scripts/version.py)" >> $GITHUB_OUTPUT
        awk '/## Release/{if (p) exit; p=1} p' CHANGELOG.md | tail -n +2 > latest_changelog.md
        echo "RELEASE_NAME=$(python ./scripts/version.py --keep-format)" >> $GITHUB_OUTPUT
      id: variables
      
    - name: Generate tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_tag: ${{ steps.variables.outputs.TAG_NAME }}
    
    - name: Update major version tag
      run: |
        VERSION=${{ steps.variables.outputs.TAG_NAME }}
        MAJOR=${VERSION%%.*}
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'action@github.com'
        git tag -fa "${MAJOR}" -m 'Update major version tag with $VERSION'
        git push origin "${MAJOR}" --force
        
    - name: Create a GitHub release
      uses: ncipollo/release-action@main
      with:
        tag: ${{ steps.tag_version.outputs.new_tag }}
        name: ${{ steps.variables.outputs.RELEASE_NAME }}
        bodyFile: latest_changelog.md
